<div class="container" >
  <h1 class="mt-5">Cambio de moneda</h1>
  
  

  <form [formGroup]="monedaForm">
      <fieldset>
        <legend>Ingrese los datos</legend>
        <div class="row">
          <div class="col mb-3">
            <label for="disabledTextInput" class="form-label">Soles:</label>
            <input type="number" id="monto" formControlName="monto" class="form-control" placeholder="Ingrese Soles">
          </div>
          <div class="col mb-3">
            <label for="apellido" class="form-label">Tipo cambio:</label>
            <select class="form-control" formControlName="monedaDestino" id="monedaDestino">
              <option value="">Seleccionar tipo cambio...</option>
              <option value="dolar">DOLAR</option>
              <option value="euro">EURO</option>
            </select>
          </div>
          <div class="col mb-3">
            <label for="email" class="form-label">Cambio:</label>
            <input type="number" id="monedadestino" name="monedadestino" class="form-control" value="{{ cambioResultado }}" placeholder="Cambio de moneda" readonly>
          </div>
        </div>
   
        
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Cambiar</button>
      </fieldset>
    </form>
  
  </div>